<li class="external-link"><a href="http://stackexchange.com/users/4431/alex-angas"><i class="fa fa-stack-overflow"></i> Stack Exchange</a></li>
<li class="external-link"><a href="https://github.com/arangas"><i class="fa fa-github"></i> GitHub</a></li>
<li class="external-link"><a href="https://twitter.com/alexangas"><i class="fa fa-twitter"></i> Twitter</a></li>
<li class="external-link"><a href="https://au.linkedin.com/in/alexangas"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
